* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-color: rgb(49, 97, 185);
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 50px;
}

.header p {
    font-size: 35px;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 100%;
    padding: 20px 20%;
}

.column h2 {
    color: rgb(49, 97, 185);
    text-align: center;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.gallery {
    padding: 20px;
    float: left;
    width: 33.33%;
}

.gallery img {
    width: 100%;
}

.gallery .desc {
    padding: 15px;
    text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}